[USERINFO]
loginid = YOUR_USERNAME_FOR_EMED
password = YOUR_PASSWORD_FOR_EMED
datadir = YOUR_DATA_FOLDER_DIRECTORY
driveid = GOOGLE_DRIVE_SHARED_FOLDER_ID
sharepoint_user = YOUR_EMAIL_FOR_SHAREPOINT
sharepoint_pass = YOUR_PASSWORD_FOR_SHAREPOINT
datefrom = 05-20-2024
cptgroup = CRDPROG